#title{
  background-color: #F6C6EA;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
h1
{
  font-family:"Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid{
  padding:3% 15%;
}
body {
  font-family:"Montserrat";
}
.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat-light";
  font-size: 1.2rem;
  }
.download-button{
  margin:5% 3% 5% 0;
}
.title-image{
  /* width:60%; */
  /* transform:rotate(25deg); */
  margin:0 0 0 15%;
  /* position: absolute; */
}
#features{
  padding: 7% 15%;
  background-color: white;
  /* position: relative;
  z-index: 1; */
}
.feature-box{
  padding: 8%;
}
.feature-text{
  font-family: "Montserrat-black";
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 5%;
}
.feature-paragraph{
  font-size: 1rem;
  font-family: "Montserrat-light";
  color: #8f8f8f;
}
.row{
  text-align: center;
}
.icons{
  color:#ef8172;
}
.icons:hover{
  color:#ff4c68;
}
#testimonials{
  text-align: center;
  background-color: #F6C6EA;
  color: white;
}
.carousel-item{
    padding: 7% 15%;
}
h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image{
  width: 10%;
 border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #F6C6EA;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing{
  padding:100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}
@media(max-width:1020px){
  #title{
    text-align: center;
  }
  .title-image{
    position:static;
    transform:rotate(0);
  }
}
#cta{
  background-color: #F6C6EA;
  color: white;
  text-align: center;
  padding: 7% 15%;
}
.text{
  font-style: "Montserrat-bold";
  font-size: 2.5rem;
  line-height: 1.5;
}
#footer{
  padding:7% 15%  ;
  text-align: center;
}
.social-button{
  margin: 20px 10px;
}
p{
  color: #8f8f8f;
}
